body {
    font-family: Arial, sans-serif;
    background-color: #eee9e9;
    color: #333333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #eee6e6;
}

h2 {
    color: #f1f1f1;
}

p 
    line-height: 1.6;



#main-header {
    background-color: #dceeff;
    padding: 30px;
    text-align: center;
}

#about-section {
    background-color: white;
    padding: 25px;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
}

#contact-section {
    background-color: white;
    padding: 25px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 10px;
}

nav {
    background-color: #e4dddd;
    padding: 15px;
    text-align: center;
}

.nav-link {
    color: rgb(17, 17, 17);
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}

.nav-link:hover {
    text-decoration: underline;
}


.profile-info {
    color: #edf0ee;
    font-size: 18px;
    text-align: center;
}

.section-title {
    text-align: center;
    color: #161515;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
}

.form-input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #c0bdbd;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.primary {
    background-color: #811506;
    color: rgb(221, 10, 10);
}

.content-box {
    background-color: rgb(182, 41, 6);
    max-width: 900px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
}

.profile-image {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 50%;
}

.media {
    display: block;
    max-width: 100%;
    margin: 20px auto;
}

ul {
    line-height: 1.8;
}

#contact-section {
    background-color: rgb(7, 7, 7);
    padding: 25px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 10px;
}

footer {
    text-align: center;
    background-color: #0f0f0f;
    color: rgb(245, 240, 240);
    padding: 15px;
    margin-top: 30px;
}