body {
    font-family: Arial, sans-serif;
    background-color: #f4f8fc;
    color: #333333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #174a7e;
}

h2 {
    color: #b91313;
}

p 
    line-height: 1.6;



#main-header {
    background-color: #dceeff;
    padding: 30px;
    text-align: center;
}

#about-section {
    background-color: white;
    padding: 25px;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
}

#contact-section {
    background-color: white;
    padding: 25px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 10px;
}

nav {
    background-color: #a00b0b;
    padding: 15px;
    text-align: center;
}

.nav-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}

.nav-link:hover {
    text-decoration: underline;
}


.profile-info {
    color: #5f2b2b;
    font-size: 18px;
    text-align: center;
}

.section-title {
    text-align: center;
    color: #a4b8c9;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
}

.form-input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.primary {
    background-color: #811506;
    color: white;
}

.content-box {
    background-color: rgb(234, 236, 69);
    max-width: 900px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
}

.profile-image {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 50%;
}

.media {
    display: block;
    max-width: 100%;
    margin: 20px auto;
}

ul {
    line-height: 1.8;
}

#contact-section {
    background-color: white;
    padding: 25px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 10px;
}

footer {
    text-align: center;
    background-color: #bd1313;
    color: white;
    padding: 15px;
    margin-top: 30px;
}